<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE QSystem SYSTEM "qsystem.dtd">
<?xml-stylesheet type="text/xsl" href="qsystem.xsl"?>
<QSystem>
    <Услуги Наименование="Нотариальная контора" Описание="Контора с нотариусом" Префикс="qwe" Статус="1"><![CDATA[<html><b><p align=center><u><span style='font-size:30.0pt;color:blue'>Нотариальная контора мистера Петрова</span></u><br><br><span style='font-size:20.0pt;color:red'>выберите требуемую услугу</span></b></html>]]>
        <Группа Наименование="Удостоверения" Описание="Ссякие удостоверения" Префикс="" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:purple'>Удостоверение сделки</span>]]>
            <Услуга Наименование="Удостоверение_доверенности" Описание="Удостоверение доверенности" Префикс="Й]" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Удостоверение доверенности</span>]]>
            </Услуга>
            <Услуга Наименование="Удостоверение_завещания" Описание="Удостоверение завещания" Префикс="Б" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Удостоверение завещания</span>]]>
            </Услуга>
            <Услуга Наименование="Удостоверение_договора_купли-продажи" Описание="Удостоверение договора купли-продажи" Префикс="В" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Удостоверение договора купли-продажи</span>]]>
            </Услуга>
            <Услуга Наименование="Удостоверение_договора_мены" Описание="Удостоверение договора мены" Префикс="Г" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Удостоверение договора мены</span>]]>
            </Услуга>
            <Услуга Наименование="Удостоверение_договора_залога_движимого_и_недвижимого_имущества" Описание="Удостоверение договора залога движимого и недвижимого имущества" Префикс="Д" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Удостоверение договора залога имущества</span>]]>
            </Услуга>
            <Услуга Наименование="Удостоверение_других_видов_договоров" Описание="Удостоверение других видов договоров" Префикс="Е" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Удостоверение других видов договоров</span>]]>
            </Услуга>
        </Группа>
        <Услуга Наименование="О_мерах_по_охране_наследственного_имущества" Описание="О мерах по охране наследственного имущества" Префикс="Ж" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>О мерах по охране наследственного имущества</span>]]>
        </Услуга>
        <Услуга Наименование="Налажение_и_снятие_запрещения_отчуждения_имущества" Описание="Налажение и снятие запрещения отчуждения имущества" Префикс="З" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Отчуждения имущества</span>]]>
        </Услуга>
        <Группа Наименование="Свидетельства" Описание="Всякие свидетельства" Префикс="" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:purple'>Свидетельства</span>]]>
            <Услуга Наименование="Свидетельство_верности_копий_документов_и_выписок_из_них" Описание="Свидетельство верности копий документов и выписок из них" Префикс="И" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Свидетельство верности копий документов и выписок из них</span>]]>
            </Услуга>
            <Услуга Наименование="Свидетельство_подлинности_подписи_на_документах" Описание="Свидетельство подлинности подписи на документах" Префикс="К" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Свидетельство подлинности подписи на документах</span>]]>
            </Услуга>
            <Услуга Наименование="Свидетельство_верности_перевода_документов_с_одного_языка_на_другой" Описание="Свидетельство верности перевода документов с одного языка на другой" Префикс="Л" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Свидетельство верности перевода документов</span>]]>
            </Услуга>
            <Услуга Наименование="Свидетельство_о_праве_собственности_на_долю_в_общем_имуществе_супругов" Описание="Выдача свидетельства о праве собственности на долю в общем имуществе супругов" Префикс="М" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Выдача свидетельства о праве собственности</span>]]>
            </Услуга>
            <Услуга Наименование="Свидетельство_о_праве_на_наследство" Описание="Выдача свидетельства о праве на наследство" Префикс="Н" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Выдача свидетельства о праве на наследство</span>]]>
            </Услуга>
        </Группа>
        <Группа Наименование="Факты" Описание="Всякие факты" Префикс="" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:purple'>Удостоверение фактов</span>]]>
            <Услуга Наименование="Удостоверение_факта_нахождения_гражданина_в_живых" Описание="Удостоверение факта нахождения гражданина в живых" Префикс="О" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Удостоверение факта нахождения гражданина в живых</span>]]>
            </Услуга>
            <Услуга Наименование="Удостоверение_факта_нахождения_гражданина_в_определенном_месте" Описание="Удостоверение факта нахождения гражданина в определенном месте" Префикс="П" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Удостоверение факта нахождения гражданина в определенном месте</span>]]>
            </Услуга>
            <Услуга Наименование="Удостоверение_тождественности_гражданина_с_лицом123456_изображенным_на_фотографии" Описание="Удостоверение тождественности гражданина с лицом, изображенным на фотографии" Префикс="Р" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Удостоверение тождественности гражданина с лицом, изображенным на фотографии</span>]]>
            </Услуга>
            <Услуга Наименование="Удостоверение_время_предъявления_документов" Описание="Удостоверение время предъявления документов" Префикс="С" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Удостоверение время предъявления документов</span>]]>
            </Услуга>
            <Услуга Наименование="Обеспечение_доказательств" Описание="Обеспечение доказательств" Префикс="Ю" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Обеспечение доказательств</span>]]>
            </Услуга>
        </Группа>
        <Услуга Наименование="Передача_заявления_физических_и_юридических_лиц_другим_физическим_и_юридическим_лицам" Описание="Передача заявления физических и юридических лиц другим физическим и юридическим лицам" Префикс="Т" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Передача заявлений</span>]]>
        </Услуга>
        <Услуга Наименование="Приём_в_депозит_денежные_суммы_и_ценные_бумаги" Описание="Приём в депозит денежные суммы и ценные бумаги" Префикс="У" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Приём в депозит денежные суммы и ценные бумаги</span>]]>
        </Услуга>
        <Услуга Наименование="Совершение_исполнительных_надписей" Описание="Совершение исполнительных надписей" Префикс="Ф" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Совершение исполнительных надписей</span>]]>
        </Услуга>
        <Группа Наименование="Свершения" Описание="Всякие свершения" Префикс="" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:purple'>Протесты</span>]]>
            <Услуга Наименование="Совершение_протестов_векселей" Описание="Совершение протестов векселей" Префикс="Х" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Совершение протестов векселей</span>]]>
            </Услуга>
            <Услуга Наименование="Совершение_морских_протестов" Описание="Совершение морских протестов" Префикс="Ц" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Совершение морских протестов</span>]]>
            </Услуга>
        </Группа>
        <Услуга Наименование="Предъявление_чеков_к_платежу_и_удостоверение_неоплаты_чеков" Описание="Предъявление чеков к платежу и удостоверение неоплаты чеков" Префикс="Ч" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Предъявление чеков к платежу</span>]]>
        </Услуга>
        <Услуга Наименование="Принятие_на_хранение_документов" Описание="Принятие на хранение документов" Префикс="Ш" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Принятие на хранение документов</span>]]>
        </Услуга>
        <Услуга Наименование="Иные_нотариальные_действия123456_предусмотренные_законодательными_актами_Российской_Федерации" Описание="Иные нотариальные действия, предусмотренные законодательными актами Российской Федерации" Префикс="Я" Статус="0"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Иные нотариальные действия</span>]]>
        </Услуга>
        <Группа Наименование="Невидимая" Описание="Со статусом -1 невидимая" Префикс="" Статус="-1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:purple'>Персонал</span>]]>
            <Услуга Наименование="Помошник_нотариуса" Описание="Помошник нотариуса" Префикс="Я" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Помошник нотариуса</span>]]>
            </Услуга>
            <Услуга Наименование="Нотариус" Описание="Нотариус" Префикс="Я" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Иные нотариальные действия, предусмотренные законодательными актами Российской Федерации</span>]]>
            </Услуга>
            <Услуга Наименование="Бухгалтер" Описание="Бухгалтер" Префикс="Я" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Бухгалтер</span>]]>
            </Услуга>
            <Услуга Наименование="Секретарь" Описание="Секретарь" Префикс="Я" Статус="1"><![CDATA[<html><b><p align=center><span style='font-size:20.0pt;color:blue'>Секретарь</span>]]>
            </Услуга>
        </Группа>
    </Услуги>
    <Пользователи>
        <Пользователь Наименование="Администратор" Пароль="1" Идентификатор="к.2" АдресRS="32" Администрирование="true" ПолучениеОтчетов="true">
            <ОказываемыеУслуги/>
        </Пользователь>
        <Пользователь Наименование="Старший менеджер" Пароль="2" Идентификатор="к.3" АдресRS="32" Администрирование="true" ПолучениеОтчетов="true">
            <ОказываемыеУслуги/>
        </Пользователь>
        <Пользователь Наименование="Нотариус" Пароль="4" Идентификатор="к.1" АдресRS="32" Администрирование="false" ПолучениеОтчетов="false">
            <ОказываемыеУслуги>
                <ОказываемаяУслуга Наименование="Нотариус" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_доверенности" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_завещания" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_договора_купли-продажи" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_договора_мены" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_договора_залога_движимого_и_недвижимого_имущества" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_других_видов_договоров" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="О_мерах_по_охране_наследственного_имущества" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Налажение_и_снятие_запрещения_отчуждения_имущества" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_верности_копий_документов_и_выписок_из_них" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_подлинности_подписи_на_документах" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_верности_перевода_документов_с_одного_языка_на_другой" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_о_праве_собственности_на_долю_в_общем_имуществе_супругов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_о_праве_на_наследство" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_факта_нахождения_гражданина_в_живых" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_факта_нахождения_гражданина_в_определенном_месте" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_тождественности_гражданина_с_лицом123456_изображенным_на_фотографии" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_время_предъявления_документов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Передача_заявления_физических_и_юридических_лиц_другим_физическим_и_юридическим_лицам" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Приём_в_депозит_денежные_суммы_и_ценные_бумаги" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Совершение_исполнительных_надписей" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Совершение_протестов_векселей" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Совершение_морских_протестов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Предъявление_чеков_к_платежу_и_удостоверение_неоплаты_чеков" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Принятие_на_хранение_документов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Обеспечение_доказательств" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Иные_нотариальные_действия123456_предусмотренные_законодательными_актами_Российской_Федерации" КоэффициентУчастия="0"/>
            </ОказываемыеУслуги>
        </Пользователь>
        <Пользователь Наименование="Нотариус Второй" Пароль="4" Идентификатор="к.9" АдресRS="32" Администрирование="false" ПолучениеОтчетов="false">
            <ОказываемыеУслуги>
                <ОказываемаяУслуга Наименование="Нотариус" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_доверенности" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_завещания" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_договора_купли-продажи" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_договора_мены" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_договора_залога_движимого_и_недвижимого_имущества" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_других_видов_договоров" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="О_мерах_по_охране_наследственного_имущества" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Налажение_и_снятие_запрещения_отчуждения_имущества" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_верности_копий_документов_и_выписок_из_них" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_подлинности_подписи_на_документах" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_верности_перевода_документов_с_одного_языка_на_другой" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_о_праве_собственности_на_долю_в_общем_имуществе_супругов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_о_праве_на_наследство" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_факта_нахождения_гражданина_в_живых" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_факта_нахождения_гражданина_в_определенном_месте" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_тождественности_гражданина_с_лицом123456_изображенным_на_фотографии" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_время_предъявления_документов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Передача_заявления_физических_и_юридических_лиц_другим_физическим_и_юридическим_лицам" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Приём_в_депозит_денежные_суммы_и_ценные_бумаги" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Совершение_исполнительных_надписей" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Совершение_протестов_векселей" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Совершение_морских_протестов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Предъявление_чеков_к_платежу_и_удостоверение_неоплаты_чеков" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Принятие_на_хранение_документов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Обеспечение_доказательств" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Иные_нотариальные_действия123456_предусмотренные_законодательными_актами_Российской_Федерации" КоэффициентУчастия="0"/>
            </ОказываемыеУслуги>
        </Пользователь>
        <Пользователь Наименование="Помошник нотариуса" Пароль="3" Идентификатор="к.4" АдресRS="37" Администрирование="false" ПолучениеОтчетов="false">
            <ОказываемыеУслуги>
                <ОказываемаяУслуга Наименование="Помошник_нотариуса" КоэффициентУчастия="1"/>
                <ОказываемаяУслуга Наименование="Удостоверение_доверенности" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_завещания" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_договора_купли-продажи" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_договора_мены" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_договора_залога_движимого_и_недвижимого_имущества" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_других_видов_договоров" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="О_мерах_по_охране_наследственного_имущества" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Налажение_и_снятие_запрещения_отчуждения_имущества" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_верности_копий_документов_и_выписок_из_них" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_подлинности_подписи_на_документах" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_верности_перевода_документов_с_одного_языка_на_другой" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_о_праве_собственности_на_долю_в_общем_имуществе_супругов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Свидетельство_о_праве_на_наследство" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_факта_нахождения_гражданина_в_живых" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_факта_нахождения_гражданина_в_определенном_месте" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_тождественности_гражданина_с_лицом123456_изображенным_на_фотографии" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Удостоверение_время_предъявления_документов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Передача_заявления_физических_и_юридических_лиц_другим_физическим_и_юридическим_лицам" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Приём_в_депозит_денежные_суммы_и_ценные_бумаги" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Совершение_исполнительных_надписей" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Совершение_протестов_векселей" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Совершение_морских_протестов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Предъявление_чеков_к_платежу_и_удостоверение_неоплаты_чеков" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Принятие_на_хранение_документов" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Обеспечение_доказательств" КоэффициентУчастия="0"/>
                <ОказываемаяУслуга Наименование="Иные_нотариальные_действия123456_предусмотренные_законодательными_актами_Российской_Федерации" КоэффициентУчастия="0"/>
            </ОказываемыеУслуги>
        </Пользователь>
        <Пользователь Наименование="Секретарь" Пароль="3" Идентификатор="к.5" АдресRS="37" Администрирование="false" ПолучениеОтчетов="false">
            <ОказываемыеУслуги>
                <ОказываемаяУслуга Наименование="Секретарь" КоэффициентУчастия="1"/>
            </ОказываемыеУслуги>
        </Пользователь>
        <Пользователь Наименование="Бухгалтер" Пароль="3" Идентификатор="к.6" АдресRS="37" Администрирование="false" ПолучениеОтчетов="false">
            <ОказываемыеУслуги>
                <ОказываемаяУслуга Наименование="Бухгалтер" КоэффициентУчастия="1"/>
                <ОказываемаяУслуга Наименование="Совершение_исполнительных_надписей" КоэффициентУчастия="1"/>
            </ОказываемыеУслуги>
        </Пользователь>
    </Пользователи>
    <Сеть ПортСервера="3128" ПортВебСервера="8080" ПортКлиента="3129" АдресСервера="127.0.0.1" ВремяНачалаРаботы="13:42" ВремяЗавершенияРаботы="15:12" ВерсияХранилищаКонфигурации="Не присвоена"/>
</QSystem>